
<table>
    <thead>
        <tr>
            <th>Order Details</th>
            <th>Quantity</th>
            <th>Per unit Price</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>4x6 Internet Print</td>
            <td>7</td>
            <td>$0.38</td>
            <td>$2.66</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td>Total</td>
            <td>$2.66</td>
        </tr>
    </tfoot>
</table>