<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta name="description" content="Your description goes here">
    	<meta name="keywords" content="one, two, three">

		<title>Photo Order Management System</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="/normalize.css">
		<link rel="stylesheet" href="/style.css">
	</head>
	<body>
		<div class="center">
			<h1>Log in to Photo Order Management System</h1>
			<h2>Authorized Access Only</h2>
			<a href="/login" class="button">Login</a>
			<a href="/signup" class="button">Signup</a>

			<!-- <form action="/login/password" method="post">
				<div>
					<label for="username">Username</label>
					<input id="username" name="username" type="text" autocomplete="username" required />
				</div>
				<div>
					<label for="current-password">Password</label>
					<input id="current-password" name="password" type="password" autocomplete="current-password" required />
				</div>
				<div>
					<button type="submit">Sign in</button>
				</div>
			</form> -->
		</div>

		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>
