<%- include('partials/header') -%>


<p><a href="/workspace" class="button">Return to Workspace</a></p>

<h2>New Order for <%= customer.lastName %>, <%= customer.firstName %></h2>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Processing Time</th>
            <th>Quantity</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>4 x 6 Print</td>
            <td>Same Day Pickup</td>
            <td><input type="number"></td>
        </tr>
        <tr>
            <td>5 x 7 Print</td>
            <td>Same Day Pickup</td>
            <td><input type="number"></td>
        </tr>
        <tr>
            <td>8 x 10 Print</td>
            <td>Same Day Pickup</td>
            <td><input type="number"></td>
        </tr>
        <tr>
            <td>11 x 14 Print</td>
            <td>Same Day Pickup</td>
            <td><input type="number"></td>
        </tr>
        <tr>
            <td>16 x 20 Print</td>
            <td>Same Day Pickup</td>
            <td><input type="number"></td>
        </tr>
        <tr>
            <td>20 x 30 Print</td>
            <td>Same Day Pickup</td>
            <td><input type="number"></td>
        </tr>
        <tr>
            <td>24 x 36 Print</td>
            <td>Same Day Pickup</td>
            <td><input type="number"></td>
        </tr>
    </tbody>
</table>
<button>Submit</button>


<%- include('partials/footer') -%>