<%- include('partials/header') -%>


<h2>Search results</h2>
<form action="/workspace/search">
	<label for="search-query">Enter phone number, last name, envelope number, or order number:</label>
	<input type="search" name="unicorn">
	<button id="searchBtn">Search</button>
</form>
<p><a href="">Advanced Search</a> (Search by product)</p>

<section>
	<ul>
		<% if (result == 'none') { %>
			<p>No records found</p>
			<p>Enter new customer information</p>
		<% } else { %>
			<% result.forEach( el => { %>
			<li data-id='<%=el._id%>'>
				<%= el %>
			</li>
			<% }) %>  
		<% } %>  
	</ul>
</section>


<%- include('partials/footer') -%>
