<%- include('partials/header') -%>


<h4>Order Search</h4>
<form action="/workspace/search">
	<label for="search-query">Enter phone number, last name, envelope number, or order number:</label>
	<input type="search" name="filter">
	<button id="searchBtn">Search</button>
</form>
<p><a href="">Advanced Search</a> (Search by product)</p>

<div class="col-2">
	<%- include('partials/workspace') -%>

	<section class="notes">
		<%- include('partials/notes') -%>

		<!-- if the user role is Admin, show form to submit new product -->
		<% if (user.role == 'Admin') { %>
		<section>
			<h3>Administration Use Only</h3>
			<p>Submit a new product type</p>
			<form action="/workspace/newProduct" method="POST">
				<label for="product">Product name</label>
				<input type="text" name="product">
				<label for="processTime">Processing Time</label>
				<select name="processTime">
					<option value="Same Day Pickup">Same Day Pickup</option>
				</select>
				<label for="price">Price</label>
				<input type="number" name="price">
				<button>Submit</button>
			</form>
		</section>
		<% } %>
	</section>
</div>


<%- include('partials/footer') -%>